/* Estilos de pagina de gastos */

.header-top {
  background-color: linear-gradient(270deg, var(--bg-1) 0%, var(--bg-2) 100%);
  padding: 10px 0;
  margin-bottom: 10px solid var(--white);
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
