:root {
  --bg-1: #5204be; /* fondo oscuro */
  --bg-2: #000f2d; /* degradado */
  --card: rgba(12, 34, 70, 0.95);
  --accent: #3b78d8;
  --accent-2: #2e5fb8;
  --muted: rgba(255, 255, 255, 0.65);
  --white: #ffffff;
  --glass: rgba(255, 255, 255, 0.04);
  --radius: 14px;
  --cl1: #0052d5;
  --cl2: #01122f;
}

.header-top {
  background-color: linear-gradient(270deg, var(--bg-1) 0%, var(--bg-2) 100%);
  padding: 10px 0;
  margin-bottom: 10px solid var(--white);
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
